.container__cart {
    width: 1000px;
}

.cart {
    padding-top: 40px;

    &__inner {
        &-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
        }
    }

    &__client-about {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__input-label {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #A5A5A5;
        margin-bottom: 8px;
    }

    &__client-input {
        width: 270px;
    }

    &__title-form {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    &__delivery {
        margin-top: 20px;

        &-inner {
            display: flex;
            justify-content: space-between;
        }

        &-street{
            margin-bottom: 16px;
        }
    }
}